*.log
/gcloud/
/hammerspoon/Spoons/
/hammerspoon/pasteboard_history.json
/k9s/config.yml
/nvim/java/
/nvim/plugin
/nvim/elixir/
/nvim/lua/.luarc.json
/tmux/plugins
.luarc.json
.zsh_history
.zcompdump*
oh-my-zsh/
github-copilot/
/irb/irb_history
/nvm/
/karabiner/
/gh-jira-changelog/
/node_modules/
