*.log
/gcloud/
/hammerspoon/Spoons/
/hammerspoon/pasteboard_history.json
/k9s/config.yml
/nvim/java/
/nvim/plugin
/nvim/elixir/
/nvim/lua/.luarc.json
/tmux/plugins
.luarc.json
.zsh_history
.zcompdump*
oh-my-zsh/
github-copilot/
/irb/irb_history
/nvm/
/karabiner/
/gh-jira-changelog/
/node_modules/
configstore
pgcli/log
pgcli/history
raycast/
tags
*.session
*.history
*/.zsh_sessions/
.android/cache/
tool_state
op
*.toml-e
*.yaml-e
*.yml-e
